@font-face {
  font-family: 'NanumSquareR';
  src: url('../../assets/fonts/NanumSquareR.otf') format('opentype');
}

.find-id-content {
  position: absolute;
  top: 60px; /* 네비게이션 바 높이만큼 아래로 */
  left: 0;
  width: 100%;
  height: calc(100% - 60px); /* 네비게이션 바 높이를 제외한 전체 높이 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  overflow-y: scroll; /* 내부 스크롤 활성화 */
  -ms-overflow-style: none; /* 스크롤 숨기기 */
  scrollbar-width: none;
  transition: opacity 1s ease-in-out;
}

.find-id-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.find-id-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.find-id-msg {
  font-size: 40px;
  font-family: 'NanumSquareEB';
  color: #ffffff;
  padding: 10px 0 10px 0;
}

.find-id-intro {
  font-size: 0.8rem;
  font-family: 'NanumSquareR';
  text-align: center;
  color: #ffffff;
  padding: 20px;
}

.name-input, .address-input {
  padding: 15px 10px 15px 80px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  font-size: 1em;
  font-family: 'NanumSquareB';
  color: rgb(60, 60, 60);
  background: #f0f0f0;
  background-position: 30px center;
  background-size: 25px;
  background-repeat: no-repeat;
  position: relative;
}

.name-input {
  background-image: url('../../assets/icons/name.png'); /* 이름 아이콘 경로 */
}

.address-input {
  background-image: url('../../assets/icons/address.png'); /* 주소 아이콘 경로 */
}

.find-id-button {
  padding: 15px;
  background-color: #082567;
  border: none;
  border-radius: 30px;
  color: white;
  font-family: 'NanumSquareB';
  font-size: 1rem;
  cursor: pointer;
}

.find-id-button:hover {
  background-color: #1a4097;
}

.back-to-login-button {
  background: none;
  margin: 15px;
  border: none;
  color: white;
  font-family: 'NanumSquareR';
  font-size: 0.7rem;
  cursor: pointer;
}

.toast-container {
  position: fixed;
  transform: translateY(40%);
}

.toast-message {
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: white !important;
  padding: 10px 20px !important;
  border-radius: 5px !important;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 20px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 20px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .find-id-content {
    flex-direction: column;
    justify-content: flex-start;
  }

  .find-id-form {
    width: 80%;
  }
}
