@font-face {
  font-family: 'NanumSquareEB';
  src: url('../../assets/fonts/NanumSquareEB.otf') format('opentype');
}

@font-face {
  font-family: 'NanumSquareR';
  src: url('../../assets/fonts/NanumSquareR.otf') format('opentype');
}

.login-container {
  background-image: url('../../assets/backgroundImages/main_background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
}

.login-container::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* 검정 음영 */
  backdrop-filter: blur(10px); /* 블러 효과 */
  z-index: 1;
}

.login-content {
  position: absolute;
  top: 60px; /* 네비게이션 바 높이만큼 아래로 */
  left: 0;
  width: 100%;
  height: calc(100% - 60px); /* 네비게이션 바 높이를 제외한 전체 높이 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  overflow-y: scroll; /* 내부 스크롤 활성화 */
  -ms-overflow-style: none; /* 스크롤 숨기기 */
  scrollbar-width: none;
  transition: opacity 1s ease-in-out;
}

.login-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.login-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.greeting-msg {
  font-size: 40px;
  font-family: 'NanumSquareEB';
  color: #ffffff;
  padding: 20px;
}

.email-input {
  padding: 15px 10px 15px 80px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  font-size: 1em;
  font-family: 'NanumSquareB';
  color: rgb(60, 60, 60);
  background: #f0f0f0;
  background-position: 30px center;
  background-size: 25px;
  background-repeat: no-repeat;
  position: relative;
}

.password-input {
  padding: 15px 10px 15px 80px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  font-size: 1em;
  font-family: 'Arial';
  color: rgb(60, 60, 60);
  background: #f0f0f0;
  background-position: 30px center;
  background-size: 25px;
  background-repeat: no-repeat;
  position: relative;
}

.email-input {
  background-image: url('../../assets/icons/email.png'); /* 이메일 아이콘 경로 */
}

.password-input {
  background-image: url('../../assets/icons/password.png'); /* 비밀번호 아이콘 경로 */
}

.login-button {
  padding: 15px;
  background-color: #082567;
  border: none;
  border-radius: 30px;
  color: white;
  font-family: 'NanumSquareB';
  font-size: 1em;
  cursor: pointer;
}

.login-button:hover {
  background-color: #1a4097;
}

.form-checkbox-group {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 25px 0;
}

.form-checkbox {
  display: flex;
  margin: 0 20px;
  align-items: center;
  color: white;
}

.form-checkbox input {
  margin-right: 10px;
}

/* 숨기기 위해 기본 체크박스 숨김 */
.login-custom-checkbox {
  display: none;
}

/* 커스텀 체크박스 스타일 */
.login-custom-checkbox + .login-custom-label {
  position: relative;
  padding-left: 30px; /* 커스텀 체크박스의 크기 */
  cursor: pointer;
  font-size: 0.8rem;
  user-select: none;
}

/* 커스텀 체크박스의 기본 스타일 */
.login-custom-checkbox + .login-custom-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: white; /* 체크박스 배경색 */
  transition: background-color 0.3s, border-color 0.3s;
}

/* 체크된 상태의 커스텀 체크박스 스타일 */
.login-custom-checkbox:checked + .login-custom-label::before {
  background-color: #082567; /* 체크된 상태의 배경색 */
}

/* 체크박스의 체크 아이콘 스타일 */
.login-custom-checkbox:checked + .login-custom-label::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.login-help-links {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding-bottom: 50px;
}

.login-help-link {
  background: none;
  padding: 0 15px;
  border: none;
  border-right: 2px solid white;
  color: white;
  font-family: 'NanumSquareR';
  font-size: 0.8rem;
  cursor: pointer;
}

.login-help-link-end {
  background: none;
  padding: 0 15px;
  border: none;
  color: white;
  font-family: 'NanumSquareR';
  cursor: pointer;
}

@media (max-width: 768px) {
  .login-content {
    top: 225px; /* 네비게이션 바 높이만큼 아래로 */
    height: calc(100% - 225px); /* 네비게이션 바 높이를 제외한 전체 높이 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .login-form {
    width: 70%;
    margin-top: 30px;
  }
}
