.menu-list {
    position: fixed;
    height: 100%;
    width: 15%;
    background-color: #fff;
    border-right: 2px solid #d6d6d6;
    z-index: 1000;
}

.menu-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu-list li a {
    display: block;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-family: 'NanumSquareEB';
    font-size: 1rem;
    color: #000000;
    border-bottom: 2px solid #d6d6d6;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.menu-list li a:hover {
    background-color: #c9c9c9;
}

.menu-list li.active a {
    color: #2d5252;
    border-left: 6px solid #2d5252;
}

@media (max-width: 768px) {
    .menu-list li a {
        font-size: 0.8rem;
    }
}

@media (max-width: 500px) {
    .menu-list li a {
        font-size: 0.7rem;
    }
}