.suggestion-reply-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.suggestion-reply-modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.suggestion-reply-modal-title {
  width: 100%;
  padding: 15px 0 10px 0;
  border-bottom: 2px solid #d3d3d3;
  font-family: 'NanumSquareEB';
  font-size: 1.2rem;
  background-color: #ebebeb;
}

.suggestion-reply-modal-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'NanumSquareB';
  font-size: 1em;
  box-sizing: border-box;
}

.suggestion-reply-modal-content .button-container {
  display: flex;
  justify-content: center;
}

.suggestion-reply-modal-save-button,
.suggestion-reply-modal-close-button {
  background-color: #d3d0d0;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 0 10px 10px;
  font-family: 'NanumSquareB';
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.suggestion-reply-modal-save-button:hover,
.suggestion-reply-modal-close-button:hover {
  background-color: #e9e9e9;
}
