.suggestion-content{
  padding: 20px;
}

.suggestion-search {
  display: flex;
  align-items: center;
}

.search-input {
  flex: 9;
  margin: 0 10px 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: 'NanumSquareB';
  font-size: 0.9rem;
  outline: none;
}

.search-button {
  flex: 1;
  margin: 0 0 10px 10px;
  padding: 10px;
  background-color: #082567;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: 'NanumSquareB';
  font-size: 0.9rem;
  cursor: pointer;
}

.search-button:hover {
  background: #1a4097;
}

.suggestion-write-button, .suggestion-toggle-button {
  margin: 10px 10px 10px 0;
  padding: 10px 15px;
  background-color: #082567;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: 'NanumSquareB';
  font-size: 0.9rem;
  cursor: pointer;
}

.suggestion-write-button:hover, .suggestion-toggle-button:hover {
  background: #1a4097;
}

.suggetion-modal-new-title {
  padding: 15px 0 10px 0;
  border-bottom: 2px solid #d3d3d3;
  font-family: 'NanumSquareEB';
  font-size: 1.2rem;
  background-color: #ebebeb;
}

.suggetion-modal-new-label{
  margin-top: 15px;
  padding: 10px;
  font-size: 1rem;
  text-align: left;
  border-bottom: 1.5px solid #d3d3d3;
}

.suggetion-modal-new-input{
  width: 100%;
  padding: 10px;
  font-family: 'NanumSquareB';
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
  box-sizing: border-box;
  margin-top: 10px;
}

.suggetion-modal-new-action-area{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.suggestion-modal-new-save-button, 
.suggestion-modal-new-close-button {
  background-color: #d3d0d0;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: 'NanumSquareB';
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.suggestion-modal-new-save-button {
  margin: 15px 0;
}

.suggestion-modal-new-close-button {
  margin: 20px 0 10px 0;
}

.suggestion-modal-new-save-button:hover, 
.suggestion-modal-new-close-button:hover {
  background-color: #e9e9e9;
}

.suggetion-modal-new-secret-area {
  margin: 17px 0 10px 0;
}

@media (max-width: 700px) {
  .search-input, .search-button, .suggestion-write-button, .suggestion-toggle-button {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
  }
}
