.suggestion-list {
  width: 100%;
  margin-bottom: 20px;
}

.suggestion-table {
  width: 100%;
  border-collapse: collapse;
}

.suggestion-table th, .suggestion-table td {
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  padding: 8px;
  text-align: center;
}

.suggestion-table th {
  background-color: #f2f2f2;
  border-top: 1.5px solid #aaa9a9;
}

.suggestion-table tr:hover {
  background-color: #f1f1f1;
}

@media (max-width: 700px) {
  .suggestion-table {
    font-size: 10px;
  }
}
