body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('../../images/login_background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

.input-company-name {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.input-ceo-name {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.input-business-number {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.input-business-type {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.input-registration-image {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="file"]:focus {
    border-color: #007BFF; /* 포커스 시 테두리 색상 변경 */
    outline: none; /* 포커스 시 기본 테두리 제거 */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* 포커스 시 그림자 추가 */
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
