.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  box-sizing: border-box;
  position: fixed; /* 화면에 고정 */
  top: 0;
  width: 100%;
  z-index: 1000; /* 다른 요소보다 위에 위치하도록 설정 */
}

/* 기본 네비게이션 스타일 */
.navbar-default {
  background-color: transparent;
  border-bottom: 1px solid white;
}

/* 관리자, 마이페이지 네비게이션 스타일 */
.navbar-setting {
  background-color: #333;
  border: none;
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
}

.navbar-left a, .navbar-right a, .navbar-right .logout-link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 5px;
  border-radius: 7px;
}

.navbar-left a.active, .navbar-right a.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-right .welcome-message {
  color: #fff;
  margin-right: 10px;
  padding-right: 20px;
  border-right: 1px solid #fff; /* 구분선 추가 */
}

/* 반응형 설정 */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .navbar-left, .navbar-right {
    flex-direction: column;
  }
  .navbar-left a, .navbar-right a, .navbar-right .logout-link, .navbar-right button {
    margin: 5px 0;
  }
  .navbar-right .welcome-message {
    display: none; /* 모바일에서는 메시지 숨기기 */
  }
  .navbar-right span {
    margin: 5px 0;
  }
}
