.certification-container {
  background-image: url('../../assets/backgroundImages/main_background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
}

.certification-container::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* 검정 음영 */
  backdrop-filter: blur(10px); /* 블러 효과 */
  z-index: 2;
}

.certification-content {
  position: absolute;
  top: 57px; /* 네비게이션 바 높이만큼 아래로 */
  left: 0;
  width: 100%;
  height: calc(100% - 57px); /* 네비게이션 바 높이를 제외한 전체 높이 */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  overflow-y: scroll; /* 내부 스크롤 활성화 */
  -ms-overflow-style: none; /* 스크롤 숨기기 */
  scrollbar-width: none;
  transition: opacity 1s ease-in-out;
}

.certification-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.certification-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certification-title {
  font-size: 40px;
  font-family: 'NanumSquareEB';
  color: #ffffff;
  padding: 20px;
  margin-top: 50px;
}

.certification-intro {
  font-size: 0.8rem;
  font-family: 'NanumSquareR';
  text-align: center;
  color: #ffffff;
  padding: 20px;
  margin-bottom: 10px;
  width: 40%;
}

.certification-form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-bottom: 15px;
  width: 40%;
}

.certification-form-group label {
  margin: 0 0 10px 30px;
  color: #ffffff;
}

.certification-form-group input {
  padding: 15px 120px 15px 30px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  width: 100%;
  font-size: 1em;
  font-family: 'NanumSquareB';
  color: rgb(60, 60, 60);
  background: #f0f0f0;
  background-position: 30px center;
  background-size: 25px;
  background-repeat: no-repeat;
  position: relative;
}

.input-registration-image {
  display: none;
}

/* 파일 입력 래퍼 스타일 */
.file-input-wrapper {
  padding: 15px 0 15px 0;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  width: 100%;
  color: rgb(60, 60, 60);
  background: #f0f0f0;
  background-position: 30px center;
  background-size: 25px;
  background-repeat: no-repeat;
  position: relative;
}

.custom-file-upload {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px 12px;
  background-color: #8d8d8d;
  border: none;
  border-radius: 30px;
  color: white;
  font-family: 'NanumSquareB';
  font-size: 0.6em;
  cursor: pointer;
}

.custom-file-upload:hover {
  background-color: #aca8a8;
}

/* 파일 이름 스타일 */
.file-name {
  font-family: 'NanumSquareR';
  font-size: 0.8rem;
  color: rgb(60, 60, 60);
  margin-left: 105px;
  width: 100%
}

.certification-submit-button {
  width: 40%;
  padding: 15px;
  margin-bottom: 5%;
  background-color: #082567;
  border: none;
  border-radius: 30px;
  color: white;
  font-family: 'NanumSquareB';
  font-size: 1em;
  cursor: pointer;
}

.certification-submit-button:hover {
  background-color: #0b2d7b;
}

@media (max-width: 768px) {
  .certification-content {
    top: 300px; /* 네비게이션 바 높이만큼 아래로 */
    height: calc(100% - 300px); /* 네비게이션 바 높이를 제외한 전체 높이 */
  }
  .certification-intro
  {
    width: 80%;
  }
  .certification-form-group {
    width: 80%;
  }
  .certification-submit-button {
    width: 80%;
  }
}