@font-face {
    font-family: 'NanumSquareR';
    src: url('../fonts/NanumSquareR.otf') format('opentype');
}
  
.card-title {
    font-size: 18px;
    margin: 0 0 30px 0;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.user-table th,
.user-table td {
    padding: 12px 15px;
    text-align: center;
}

.user-table thead th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

.user-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.user-table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.user-table tbody tr:hover {
    background-color: #f1f1f1;
}

.action-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #808080;
    color: white;
    transition: background-color 0.3s ease;
    font-size: 14px;
    font-family: 'NanumSquareR';
}

.action-button:hover {
    background-color: #2d5252;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination button {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    font-family: 'NanumSquareR';
}

.pagination button:hover {
    background-color: #f1f1f1;
}

.pagination button.active {
    background-color: #2d5252;
    color: #fff;
    border-color: #2d5252;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

.warning-container {
    margin: 10px 0;
}

.warning {
    font-size: 20px;
    font-weight: bold;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.modal-table-container {
    padding: 10px;
    box-sizing: border-box;
}

.modal-table {
    width: 100%;
    border-collapse: collapse;
}

.modal-table th,
.modal-table td {
    padding: 10px 15px;
    border: 1px solid #ddd;
}

.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.modal-actions .modal-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #808080;
    color: white;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}

.modal-actions .modal-button:hover {
    background-color: #2d5252;
}