.terms-container {
  background-image: url('../../assets/backgroundImages/main_background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.terms-container::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  position: absolute;
  z-index: 1;
}

.terms-content {
  position: absolute;
  top: 60px; /* 네비게이션 바 높이만큼 아래로 */
  left: 0;
  width: 100%;
  height: calc(100% - 60px); /* 네비게이션 바 높이를 제외한 전체 높이 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  overflow-y: scroll; /* 내부 스크롤 활성화 */
  -ms-overflow-style: none; /* 스크롤 숨기기 */
  scrollbar-width: none;
  transition: opacity 1s ease-in-out;
}

.terms-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.terms-popup {
  position: relative;
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  margin: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: #333;
}

.terms-title {
  text-align: left;
  font-size: 1.5rem;
  font-family: 'NanumSquareEB';
  color: #333;
  width: 100%;
  margin-bottom: 30px;
}

.terms-box {
  width: 100%;
  margin-bottom: 20px;
}

.terms-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.terms-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  cursor: pointer;
}

.terms-checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.terms-checkbox.checked {
  background-color: #082567;
  border-color: #082567;
}

.terms-checkbox.checked::after {
  content: '✔';
  color: #fff;
  font-size: 16px;
}

.terms-text {
  margin: 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.terms-subtext {
  font-size: 12px;
  color: #999;
}

.terms-highlight {
  margin-left: auto;
}

.more {
  cursor: pointer;
  color: #082567;
  font-family: 'NanumSquareR';
  text-decoration: underline;
  margin-left: 10px;
  background: none;
  border: none;
  font-size: 14px;
}

.more:hover {
  text-decoration: none;
}

.terms-divider {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

.terms-submit-section {
  width: 100%;
}

.terms-button {
  width: 100%;
  padding: 10px;
  background-color: #082567;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'NanumSquareB';
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.terms-button:hover{
  background-color: #1a4097;
}

.terms-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.terms-link {
  color: #525252;
  text-decoration: none;
  font-family: 'NanumSquareR';
  font-size: 0.8rem;
  margin-top: 20px;
  transition: color 0.3s ease;
}

.terms-link:hover {
  color: #737373;
}

.modal-close-button {
  width: 100%;
  padding: 10px;
  background-color: #082567;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'NanumSquareB';
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.modal-close-button:hover {
  background-color: #1a4097;
}

@media (max-width: 768px) {
  .terms-content {
    top: 225px; /* 네비게이션 바 높이만큼 아래로 */
    height: calc(100% - 225px); /* 네비게이션 바 높이를 제외한 전체 높이 */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
