.main-background {
  background: url(./images/main_background.jpg) no-repeat center center fixed;
}

.login-background {
  background: url(./images/login_background.png) no-repeat center center fixed;
}

.mypage-background {
  background-color: #2E2E2E;
}

.App {
  height: 100vh;
  background-size: cover;
  animation: backgroundZoom 2s ease-out forwards;
}

@keyframes backgroundZoom {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 105%;
  }
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.content {
  position: relative;
  top: 73px;
  height: calc(100vh - 73px);
  z-index: 1;
}