@font-face {
  font-family: 'NanumSquareEB';
  src: url('../../assets/fonts/NanumSquareEB.otf') format('opentype');
}

.admin-stats-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.admin-stats-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.chart-container {
  width: 80%;
  height: 300px;
}

.admin-stats-title {
  font-family: "NanumSquareEB";
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .admin-stats-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
  }
  .admin-stats-card {
    padding: 10px;
  }
  .chart-container {
    width: 90%;
    height: 200px;
  }
  .admin-stats-title {
    font-size: 1.2rem;
  }
}