:root {
  /* 기본 폰트 크기 및 패딩 크기 설정 */
  --font-size-base: 16px;
  --padding-base: 10px;
}

.regist-detail-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.regist-detail-modal-content {
  background-color: #fff;
  padding: calc(var(--padding-base) * 2);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
  max-width: 500px;
  max-height: 70%;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
  transition: opacity 1s ease-in-out;
}

.regist-detail-modal-content::-webkit-scrollbar {
  width: 8px;
}

.regist-detail-modal-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.regist-detail-modal-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.regist-detail-modal-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.regist-detail-close-button {
  background-color: #d3d0d0;
  border: none;
  border-radius: 5px;
  padding: var(--padding-base);
  margin: calc(var(--padding-base) * 1.5) var(--padding-base) var(--padding-base);
  font-family: 'NanumSquareB';
  font-size: calc(var(--font-size-base) * 0.9);
  cursor: pointer;
  transition: background-color 0.3s;
}

.regist-detail-close-button:hover,
.regist-detail-close-button:focus {
  background-color: #bbb8b8;
  text-decoration: none;
  cursor: pointer;
}

.regist-detail-title {
  padding: calc(var(--padding-base) * 1.5) 0 var(--padding-base) 0;
  margin-bottom: calc(var(--padding-base) * 1.5);
  border-bottom: 2px solid #d3d3d3;
  font-family: 'NanumSquareEB';
  font-size: calc(var(--font-size-base) * 1.2);
  color: black;
  background-color: #ebebeb;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-details {
  font-size: calc(var(--font-size-base) * 0.9);
  line-height: 1.6;
  text-align: left;
  padding-bottom: calc(var(--padding-base) * 1.5);
  border-bottom: 1.5px solid rgb(206, 206, 206);
}

.modal-image {
  margin-top: var(--padding-base);
  text-align: center;
}

.modal-image img {
  max-width: 100%;
  height: auto;
  padding: var(--padding-base);
  max-height: 150px;
}

.modal-footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: calc(var(--padding-base) * 2);
}

textarea {
  width: 100%;
  height: 100px;
  padding: var(--padding-base);
  font-family: 'NanumSquareB';
  font-size: calc(var(--font-size-base) * 1);
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
  box-sizing: border-box;
  margin-top: var(--padding-base);
}

.approve-button,
.reject-button {
  padding: calc(var(--padding-base) * 1.5);
  font-family: 'NanumSquareB';
  font-size: calc(var(--font-size-base) * 1);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: var(--padding-base);
}

.approve-button:hover,
.reject-button:hover {
  opacity: 0.9;
}

.approve-button:focus,
.reject-button:focus {
  outline: none;
}

.approve-button {
  background-color: #28a745;
}

.approve-button:hover {
  background-color: #218838;
}

.reject-button {
  background-color: #dc3545;
}

.reject-button:hover {
  background-color: #c82333;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .regist-detail-modal-content {
    width: 70%;
    max-width: 400px;
    padding: calc(var(--padding-base) * 1.5);
  }

  .regist-detail-title {
    font-size: calc(var(--font-size-base) * 1.1);
  }

  .regist-detail-close-button {
    font-size: calc(var(--font-size-base) * 0.8);
    padding: calc(var(--padding-base) * 0.8);
  }

  .modal-details {
    font-size: calc(var(--font-size-base) * 0.85);
  }

  .approve-button,
  .reject-button {
    font-size: calc(var(--font-size-base) * 0.9);
    padding: calc(var(--padding-base) * 1.2);
  }
}

@media (max-width: 480px) {
  .regist-detail-modal-content {
    width: 80%;
    max-width: 360px;
  }

  .regist-detail-title {
    font-size: calc(var(--font-size-base) * 1);
  }

  .modal-image img {
    max-height: 100px;
  }

  .approve-button,
  .reject-button {
    font-size: calc(var(--font-size-base) * 0.8);
    padding: calc(var(--padding-base) * 1);
  }

  .modal-footer {
    flex-direction: column;
    align-items: center;
  }
}
