.notice-container {
  background-image: url('../../assets/backgroundImages/main_background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
}

.notice-container::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* 검정 음영 */
  backdrop-filter: blur(10px); /* 블러 효과 */
  z-index: 1;
}

.notice-content {
  position: absolute;
  top: 60px; /* 네비게이션 바 높이만큼 아래로 */
  left: 0;
  width: 100%;
  height: calc(100% - 60px); /* 네비게이션 바 높이를 제외한 전체 높이 */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  overflow-y: scroll; /* 내부 스크롤 활성화 */
  -ms-overflow-style: none; /* 스크롤 숨기기 */
  scrollbar-width: none;
  transition: opacity 1s ease-in-out;
}

.notice-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.notice-title {
  margin: 50px 0 20px 0;
  font-size: 2em;
  color: #ffffff;
}

.notice-item {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  width: 65%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
}

.notice-item:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.notice-item h2 {
  margin: 0 0 10px 0;
  font-size: 1.3em;
  color: #333;
}

.notice-item p {
  margin: 0;
  font-size: 1em;
  color: #666;
}

.notice-write-button {
  background-color: #082567;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 16%;
  align-self: flex-end;
  font-family: 'NanumSquareB';
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.notice-write-button:hover {
  background-color: #1a4097;
}

/* 공지사항 조회 모달창 */
.notice-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.notice-modal-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.notice-modal-title {
  padding: 15px 0 10px 0;
  border-bottom: 2px solid #d3d3d3;
  font-family: 'NanumSquareEB';
  font-size: 1.2rem;
  background-color: #ebebeb;
}

.notice-modal-date {
  padding: 15px 10px 15px 10px;
  font-family: 'NanumSquareR';
  font-size: 0.8rem;
  text-align: left;
  border-bottom: 1px solid #d3d3d3;
}

.notice-modal-contents{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.notice-modal-label{
  margin-top: 15px;
  padding: 10px;
  font-size: 1rem;
  text-align: left;
  border-bottom: 1.5px solid #d3d3d3;
}

.notice-modal-text {
  width: 100%;
  padding: 10px;
  font-family: 'NanumSquareB';
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
  box-sizing: border-box;
  margin-top: 10px;
}

.notice-modal-content .button-container {
  display: flex;
  justify-content: center;
}

.notice-modal-save-button,
.notice-modal-edit-button,
.notice-modal-delete-button,
.notice-modal-close-button {
  background-color: #d3d0d0;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 15px 5px 10px 5px;
  font-family: 'NanumSquareB';
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.notice-modal-save-button:hover,
.notice-modal-edit-button:hover,
.notice-modal-delete-button:hover,
.notice-modal-close-button:hover {
  background-color: #e9e9e9;
}

/* 페이지네이션 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  background-color: #c1c1c1;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 0 10px;
  font-family: 'NanumSquareB';
  font-size: 0.7em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #ffffff;
}

.pagination button:disabled {
  background-color: #eee;
  cursor: not-allowed;
}

.pagination span {
  padding: 0 10px;
  font-size: 1em;
  color: #ffffff;
}

@media (max-width: 768px) {
  .notice-modal-title {
    font-size: 1.1rem;
  }
  .notice-modal-content {
    padding: 15px;
    width: 80%;
  }
}